<!DOCTYPE html>
<html lang="en">
    {% extends 'core.html' %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}
    <title>Turnos</title>
    {% endblock %}
</head>
<body>
{% block content %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <p>
        <a href="" class="btn btn-outline-secondary">Cancelar</a>
        <input type="submit" value="Guardar" class="btn btn-primary"/>
        </p>
    </form>
</div>
{% endblock %}
</body>
</html>