<!DOCTYPE html>
<html lang="en">
{% extends 'core.html' %}

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    <title>Productos</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <!-- una vez logueado con admin, crea, actualiza o elimina servicio con form -->
    <section class="section-bg">
        <div class="service-detail">
            <h2>Cargar producto nuevo</h2>
        </div>
        <div class="service-form">
            <!-- para crear un servicio y cargar en bbdd -->
            <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                <div class="service-input">
                    <div class="service-field">
                        <label for="id_prod_name"> Nombre del producto: </label>
                        <input type="text" name="prod_name" maxlength="50" required id="id_prod_name">
                    </div>
                    <div class="service-field">
                        <label for="id_prod_stock"> Cantidad de Stock: </label>
                        <input type="number" name="prod_stock" required id="id_prod_stock">
                    </div>
                    <div class="service-field">
                        <label for="id_prod_price">Precio del producto: </label>
                        <input type="number" name="prod_price" required id="id_prod_price">
                    </div>
                    <div class="service-field">
                        <label for="id_prod_img">Imagen del producto: </label>
                        <input type="image" name="prod_img" required id="id_prod_img">
                    </div>
                </div>
                <input type="submit" value="Cargar" class="form-btn-dark" />
            </form>
        </div>
    </section>
    <section>
        <div class="service-detail">
            <h2>Borrar producto</h2>
        </div>
        <div>
            <!-- para borrar un servicio en bbdd -->
        </div>
    </section>
    <section class="section-bg">
        <div class="service-detail">
            <h2>Actualizar producto</h2>
        </div>
        <div>
            <!-- para actualizar un servicio y cargar en bbdd -->
        </div>
    </section>
    {% block content %}
</body>
<form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
    <table class="service-table">
        {{form.as_p}}
    </table>
    <input type="submit" value="Guardar" class="form-btn-dark" />
</form>
</html>