<!DOCTYPE html>
<html lang="en">
{% extends 'core.html' %}

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    <title>Servicios</title>
    {% endblock %}
</head>

<body>
    {% block content %}
    <!-- muestro servicios cargados -->
    <main>
        <div class="show-detail">
            <h2>Detalle de los servicios cargados</h2>
        </div>
        <div class="show-data">
            {% for s in services%}
            <ol class="show-ol">
                <li class="show-p">
                    <p><b>ID de servicio:</b> {{s.pk}}</p>
                </li>
                <li class="show-p">
                    <p><b>Nombre del servicio:</b> {{s.service_name}}</p>
                </li>
                <li class="show-p">
                    <p><b>Nombre del profesional a cargo:</b> {{s.service_prof}}</p>
                </li>
                <li class="show-p">
                    <p><b>Servicio disponible?: </b> {{s.service_available}}</p>
                    <br>
                    <p><b>Si se muestra 'True', servicio disponible.</b></p>
                    <p><b>Si se muestra 'False', servicio no disponible.</b></p>
                </li>
                <li class="show-p">
                    <p><b>Agregado:</b> {{s.add_date}} </p>
                </li>
            </ol>
            {% endfor %}
        </div>
    </main>
    <!-- una vez logueado con admin, crea, actualiza o elimina servicio con form -->
    <section class="section-bg">
        <div class="create-detail">
            <h2>Crear servicio</h2>
        </div>
        <div class="create-form">
            <!-- para crear un servicio y cargar en bbdd -->
            <form action="" method="POST"> {% csrf_token %}
                <div class="crear-input">
                    <div class="create-field">
                        <label for="id_service_name"> Nombre del servicio: </label>
                        <input type="text" name="service_name" maxlength="50" required id="id_service_name">
                    </div>
                    <div class="create-field">
                        <label for="id_service_prof"> Nombre del profesional a cargo: </label>
                        <input type="text" name="service_prof" maxlength="50" required id="id_service_prof">
                    </div>
                    <div class="create-field">
                        <label for="id_service_available">Se encuentra disponible el servicio? </label>
                        <input type="checkbox" name="service_available" required id="id_service_available">
                    </div>
                </div>
                <input type="submit" value="Crear" class="form-btn-dark" />
            </form>
        </div>
    </section>
    <section>
        <div class="service-detail">
            <h2>Borrar servicio</h2>
        </div>
        <div>
            <!-- para borrar un servicio en bbdd -->
        </div>
    </section>
    <section class="section-bg">
        <div class="service-detail">
            <h2>Actualizar servicio</h2>
        </div>
        <div>
            <!-- para actualizar un servicio y cargar en bbdd -->
        </div>
    </section>
    {% endblock %}
</body>

</html>